
body {
    background-color: rgb(255, 8, 8);
    background-image: url('../../public/assets/background.png');
    font-family: 'Courier New', Courier, monospace;
    background-repeat: no-repeat;
}

.bodybackground {
    width: 1920px;
    height: 1080px;
    background-color: aquamarine;
}

h1 {
    color: aqua;
}

/*   Botao*/

.btn-size {
    max-width: 30px;
}


/* Cards Do Site */
.card-img {
    left: 0;
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px 20px 0 0;
    border: 1px solid black;
    object-fit: cover;
}


.card-description {
    margin-top: 15px;
    margin-left: 15px;
    flex: 1;
    /* border: 1px solid black; */
    max-height: 200px;
    width: 202px;
    border-radius: 20px;
    margin-bottom: 30px;

}

.card-text {
    padding: 0;
    font-size: 19px;
    text-align: center;
}

.card-title {
    padding: 0;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
